[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
wheel = "*"
setuptools = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
